@mixin size($w, $h) {
    width: $w;
    height: $h;
}
//font
$font-color-main:#4A4546;
$font-color-sec:#7a7274;
$font-color-third:#9a9494;

//bg
$bg-color-dark:#ed6d6d;
$bg-color-light:#ffe9e9;

//border
$border-color-dark:#cdc8c8;
$border-color-light:#ddd8d8;

// width
$inner-container: calc((100vw - 1232px)/2);

*{
    box-sizing: border-box;
    font-family: MicrosoftYaHei;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}

.ellipsis{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}



