// device
$mobile: 600px;
$pad: 900px;
$desktop: 1200px;
$computer: 1600px;

@mixin computer {
    @media (max-width: $computer) and (min-width: 1201px){
        @content;
    }
}
@mixin desktop {
    @media (max-width: $desktop) and (min-width: 901px) {
        @content;
    }
}

@mixin pad {
    @media (max-width: $pad) and (min-width: 601px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}


// header 
div.header{
    position:fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 1;
    #headerContainer{
        height: 80px;
        border-bottom: 2px solid gray;
        display:flex;

        // 左上youtube logo img
        #logo{
            width: 150px;
            margin: auto 10px;
        }
        // search bar
        form{ 
            position: absolute;
            top: 20px;
            right: 70px;
            width: 60%;
            
            #searchBar{
                height: 30px;
                border: none;
                @include computer{
                    width: 90%;
                }
                @include desktop{
                    width: 85%;
                }
                @include pad{
                    width: 85%;
                }
                @include mobile{
                    width: 78%;
                }
            }
            button{
                background-color: white;
                cursor: pointer;
                border: none;
                position: relative;
                top: 5px;
                svg{
                    font-size: 34px;
                    color: rgb(185, 185, 185);
                }
            }
    
        }

        // 右上account
        #member{
            font-size: 35px;
            color: white;
            height: 45px;
            width: 45px;
            background-color: orange;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            top: 17px;
            right: 27px;
        }
    }
    // keyword search tags
    #keywordContainer{
        padding: 10px 0;
        background-color: white;
        label{
            overflow: hidden;
            white-space: nowrap;
            input[type=checkbox]{
                display: none;
            }
            span{
                background-color:rgb(245, 243, 243);
                font-size: 20px;
                font-weight: bold;
                display: inline-block;
                border: 1px solid rgb(168, 167, 167);
                color: #444;
                margin: 0 5px;
                border-radius: 18px;
                padding: 5px 15px;
                user-select: none;
            }
            input[type=checkbox]:checked+span {
                color:white;
                background-color: #444;
            }
        }
    }
}
//header-End

//section
    section{
        margin: 130px auto 70px auto;
            #videoContainer{
                display:flex;
                flex-wrap:wrap;
                justify-content: center;
                .video{
                    @include computer{
                        width: 22%;
                    }
                    @include desktop{
                        width: 29%;
                    }
                    @include pad{
                        width: 45%;
                    }
                    @include mobile{
                        width: 90%;
                    }
                    margin: 20px 20px 0 20px;
                    #videoImgContainer{
                        position:relative;
                        .videoPic{
                            width: 100%;
                        }
                        .videoLength{
                            border-radius: 5px;
                            font-size: 14px;
                            padding: 2px 5px;
                            background-color: rgb(0 0 0 / 66%);
                            color: white;
                            position:absolute ;
                            right: 5px;
                            bottom: 10px;
                        }
            
                    }
                    #videoContent{
                        display:flex;
                        div.content-left{
                            .channelPic{
                                margin-top: 5px;
                                border-radius: 50%;
                                width: 50px;
                                height: 50px;
                            }
                            
            
                        }
                        div.content-right{
                            margin: 5px 0 5px 10px ;
                            div.top{
                                display:flex;
                                a.title{
                                    color: black;
                                    text-decoration: none;
                                    overflow: hidden;
                                    text-overflow : ellipsis;
                                    display:-webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                }
                                span.icon{
                                    margin: 0 5px;
                                    cursor: pointer;
                                }
                            }
                            div.bottom{
                                display:flex;
                                flex-wrap:wrap;
                                a.channelName{
                                    color: grey;
                                    text-decoration: none;  
                                }
                                p{
                                    color: grey;
                                    margin: 0 ;
                                }
                            }
                            
                        }
                    }
                
                }
            }        
       
    }
    
//section-End
//footer
    #footerContainer{
        display: flex;
        position:fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        border-top: rgb(241, 241, 241) 1px solid;
        span{
            cursor: pointer;
            text-align: center;
            width: 25%;
            svg{
                font-size: 24px;
                margin-top: 10px;
            }
            p{
                margin: 0;
            }
        }
    }
//footer-End